@font-face {
    font-display: swap;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: url('./fonts/roboto-v47-cyrillic_latin-regular.woff2') format('woff2'); 
  }

  @font-face {
    font-display: swap; 
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 400;
    src: url('./fonts/roboto-v47-cyrillic_latin-italic.woff2') format('woff2'); 
  }

  @font-face {
    font-display: swap; 
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    src: url('./fonts/roboto-v47-cyrillic_latin-600.woff2') format('woff2'); 
  }
  @font-face {
    font-display: swap;
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 600;
    src: url('./fonts/roboto-v47-cyrillic_latin-600italic.woff2') format('woff2');
  }

  @font-face {
    font-display: swap; 
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    src: url('./fonts/roboto-v47-cyrillic_latin-700.woff2') format('woff2'); 
  }

  @font-face {
    font-display: swap;
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 700;
    src: url('./fonts/roboto-v47-cyrillic_latin-700italic.woff2') format('woff2'); 
  }

:root{
    --primary-color: #011C44;
    --secondary-color: #2B7FFF;
    --tex-color-S1: #4A4A4A;
    --tex-color-S3: #000000;
    --button-color-S4:#011C44;
    --text-color-white: #FFFFFF;
    --tex-color-2022: #747272;
    --background-modal-color: 1,31,74;
}
main{
    position: relative;
}
body{
    color: var(--primary-color);
    font-family: 'Roboto';
    font-size: 18px;
    font-weight: 400;
    margin: 0;
    padding: 0;
}
ul{
    margin: 0;
    padding: 0;
}

/* __________________________________________-HEADER-______________________________________________ */
.header-teg{
    width: 100%;
    position: relative;
    position: absolute;
    z-index: 2;
}
.header_background-blurriness{
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: var(--text-color-white);
    backdrop-filter: blur(5px); /* Додає розмитість фону */
    background: rgba(255, 255, 255, 0.25);
}
.header-conteiner{
    position: relative;
    width: 100%;
    max-width: 1239px;
    padding-top: 32px;
    padding-bottom: 32px;
    margin: 0 auto;   /* ЦИНТРУЄ КОНТЕЙНЕР ПО ЦЕНТРУ */
}
.header_nav{
    display: flex;
    flex-direction: row;
    /* justify-content: center; */
    /* gap: 240px; */
    /* background-color: #403a3a; */
}
.header-div_1{
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    align-items: center;
}
.header-ul{
    display: flex;
    flex-direction: row;
    padding-left: 56px;
    padding-right: 56px;
    gap: 56px;
    flex-grow: 1;
    justify-content: center;
}

.header_nav-libtn{
    list-style: none;
    transition: 0.3s;
}
.header_nav-libtn:hover {
    color: var(--secondary-color);
    /* font-weight: 500; */
    cursor: pointer;
}
.header-div_2{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 160px;
    gap: 32px;
    align-items: center;
}
.header_icon{
    width: 32px;
    height: 32px;
    fill: var(--primary-color);
    transition: fill 0.3s;
}
.header_icon:hover{
    fill: var(--secondary-color);
}
/* __________________________________________-BACKGROUND MAIN-______________________________________________ */
.main_background-blurriness{
    position: absolute;
    background-size: cover;  /* зберігає пропорційність фону при зміні розмірів екрану */
    background-image: url(./image/background-main.png);
    background-repeat: no-repeat;/* Властивість не дає повторюватися фото */
    width: 100%;
    height: 1500px;
    top: 1324px;
    z-index: -1;

}
/* __________________________________________-SECTION 1-______________________________________________ */

.Section1{
    background-size: cover;  /* зберігає пропорційність фону при зміні розмірів екрану */
    background-image: url(./image/S1-Fon.png);
    background-repeat: no-repeat; /* Властивість не дає повторюватися фото */
   }

.S1-conteiner{
    width: 100%;
    height: 687px;
    max-width: 1440px;
    margin: 0 auto;
}
.S1-box_content{
    padding-top: 122px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-left: 14.3%;
    margin-right: 49%;
}
.S1_p-tex1{
    margin-bottom: 16px;
}
.Logo-text{
    width: 529px;
    height: 228px;
    margin: 0;
    font-family: 'Play';
    font-size: 140px;
    font-weight: 700;
    line-height: 0.8;
    text-transform: capitalize; /* Кожне слово починається з великої літери */
    color:var(--secondary-color);
}
.S1-div_2{
    position: relative;
    width: 238px;
    display: flex;
    flex-direction: column;
    gap: 14px;
}
.S1_button{
    width: 219px;
    height: 53px;
    border-radius: 32px;
    padding: 0;
    border: none;
    cursor: pointer;
    color: var(--text-color-white);
    background-color: var(--secondary-color);
    font-weight: 600;
    margin: 0 auto;
}
.S1_p-tex2{
    color: var(--tex-color-S1);
    font-size: 12px;
    text-align: center;
    line-height: 1.5;
    margin: 0;
}
/* __________________________________________-SECTION 2-______________________________________________ */
.Section2{
    position: relative;
}
.S2-conteiner{
    width: 100%;
    max-width: 1240px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    gap: 32px;
}
.S2-div_1{
    display: flex;
    flex-direction: column;
    gap: 40px;
    max-width: 709px;
    padding-top: 40px;
}
.S2_h2-tex1{
    font-family: 'Play';
    font-size: 64px;
    font-weight: 700;
    line-height: 1;
    margin: 0;
}
.S2_h2-texspan1{
    color: var(--secondary-color);
    text-transform: capitalize; /* Кожне слово починається з великої літери */
}
.S2_p{
    line-height: 1.7;
    margin: 0;
    font-size: 22px;
}
.S2_p-span{
    font-weight: bold;
    text-transform: capitalize; /* Кожне слово починається з великої літери */
}
.S2-div_2{
    position: relative;
    display: flex;
    flex-direction: column;
    max-width: 499px;
    gap: 40px;
}
.S2_img{
    width: 327px;
    height: 327px;
    border-radius: 50%;
}
.S2_img:nth-child(2){
    margin-left: 172px;
}
.S2_svg-star1{
    position: absolute;
    fill: var(--primary-color);
    width: 64px;
    height: 64px;
    left: 66.5%;
    bottom: 40%;
}
.S2_svg-star2{
    position: absolute;
    width: 40px;
    height: 40px;
    fill: var(--secondary-color);
    left: 91.1%;
    top: 4.6%;
}
.S2_svg-star3{
    position: absolute;
    width: 16px;
    height: 16px;
    fill: var(--tex-color-S1);
    left: 91.2%;
    bottom: 58.3%;
}
/* __________________________________________-SECTION 3-______________________________________________ */
.S3-conteiner{
    width: 100%;
    max-width: 1060px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding-top: 176px;
    padding-bottom: 96px;
    gap: 40px;
    /* background-color: antiquewhite; */
}

.S3_h2-tex1{
    font-family: 'Play';
    font-size: 64px;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    margin: 0;
}
.S3_DivArt{
    display: flex;
    flex-direction: row;
    gap: 56px;
}
.S3_art{
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 316px;
    border-radius: 32px;
    background-color: var(--text-color-white);
    align-items: center;
    padding: 24px 32px;
}
.S3_h2-texspan1{
    color: var(--secondary-color);
}
.S3_icon{
    width: 48px;
    height: 48px;
}
.S3_art-tex{
    width: 252px;
    color: var(--tex-color-S3);
    line-height: 1.3;
    text-align: center;
    margin: 0;
}
/* __________________________________________-SECTION 4-______________________________________________ */

.S4-conteiner{
    display: flex;
    flex-direction: column;
    gap: 48px;
    width: 100%;
    max-width: 1216px;
    margin: 0 auto;
    /* background-color: aqua; */
}

.S4_h2-tex1{
    font-family: 'Play';
    font-size: 64px;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    margin: 0;
}
.S4_h2-texspan1{
    color: var(--secondary-color); 
}
.S4_div{
    display: flex;
    flex-direction: row;
    gap: 32px;
    align-items: center;
}
.S4_btn{
    flex-shrink: 0;
    width: 44px;
    height: 44px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: var(--text-color-white);
    border: 1px solid var(--button-color-S4);
}

.S4_btn:hover{
    cursor: pointer;
}
.btn-stril{
    width: 17px;
    height: 17px;
    fill: var(--button-color-S4);
}
.btn-s-l{
    transform: rotate(180deg);
}
.S4_div-procedures{
    display: flex;
    flex-direction: row;
    gap: 16px;
}
.S4_procedures-card{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 344px;
    height: 456px;
    background: linear-gradient(180deg, rgba(1, 28, 68, 0) 47.4%, rgba(1, 28, 68, 0.73) 82.66%, #011c44 99.06%);
    border-radius: 4px 120px;
    overflow: hidden;
}
.S4_art-tex{
    width: 152px;
    color: var(--text-color-white);
    font-size: 22px;
    line-height: 1;
    text-align: center;
    margin-top: 372px;
    margin-bottom: 32px;
}
.S4_card-img{
    position: absolute;
    z-index: -1;
}
/* __________________________________________-SECTION 5-______________________________________________ */
.S5-conteiner{
    width: 100%;
    max-width: 1059px;
    margin: 0 auto;
    padding-top: 96px;
    padding-bottom: 96px;
}

.S5_h2-tex1{
    font-family: 'Play';
    font-size: 64px;
    font-weight: 700;
    line-height: 1;
    text-align: center;
}
.S5_h2-texspan1{
    color: var(--secondary-color);
}
.S5-div{
    display: flex;
    flex-direction: row;
    gap: 32px;
}
.S5_block-forms{
    display: flex;
    flex-direction: column;
    background-image: url(./image/S5-background-forms.png);
    background-color: var(--primary-color);
    color: var(--text-color-white);
    width: 422px;
    height: 482px;
    border-radius: 32px;
    padding: 48px 56px;
    text-align: center;
    align-items: center;
    box-sizing: border-box;
}
.S5_h3-tex{
    width: 274px;
    font-size: 22px;
    margin: 0;
    margin-bottom: 32px;
}
.S5_h3-span{
    color: var(--secondary-color);
}
.S5_form{
    text-align: center;
    align-items: center;
}

.box-form:nth-child(2){
    margin-top: 16px;
    margin-bottom: 16px;
}
.form-input{
    width: 310px;
    box-sizing: border-box;
    /* height: 52px; */
    padding: 18px 32px;
    /* color: var(--text-color-white); */
    color: var(--text-color-white);
    background-color: transparent; /* Робимо прозорим фон */
    border-radius: 32px;
    border: 2px solid var(--tex-color-2022);
    transition: border-color 0.5s;
    
}
input:focus{
    outline: none;
    box-shadow: none;
    border-color: var(--secondary-color);
}
input::placeholder{
    color: var(--text-color-white);
}
input:focus::placeholder{
    color: var(--secondary-color);
}
.S5_btn{
    width: 281px;
    height: 53px;
    margin-top: 16px;
    background-color: var(--secondary-color);
    border-radius: 32px;
    border: none;
    font-family: 'Roboto';
    font-size: 18px;
    font-weight: 400;
    color:var(--text-color-white) ;
}
.S5_btn:hover{
    cursor: pointer;
}
.S5_tex{
    color: var(--tex-color-2022);
    font-size: 12px;
    width: 213px;
    margin: 0;
    margin-top: 8px;
}
/* __________________________________________-FOUTER-______________________________________________ */
.fouter{
    background-image: url(./image/fouter-background.png);
    background-color: var(--primary-color); 
}
.fouter-conteiner{
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    padding-top: 56px;
    padding-bottom: 56px;
 }
 .fouter_box{
    display: flex;
    margin-left: 100px;
    margin-right: 100px;
 }
.footer_nav{
    display: flex;
    flex-basis: 50%;
}
.footer_address{
    display: flex;
    flex-basis: 50%;  
}
.fouter_logo-box{
    flex-grow: 1;
}
.fouter_logo{
    width: 83px;
}

.fouter_logo:hover{
    cursor: pointer;
}
.footer_nav-ul{
    display: flex;
    flex-direction: column;
    gap: 16px;
    flex-grow: 1;   
}
.footer_nav-libtn{
    color: var(--text-color-white);
    list-style:none;
    font-size: 16px;
    transition: color 0.3s;
}
.footer_nav-libtn:hover{
    cursor: pointer;
    color: var(--secondary-color);
}
.address_ul{
    display: flex;
    flex-direction: column;
    gap:16px;
    flex-grow: 1;
    flex-basis: 192px;
}
.footer_address-libtn{
    list-style:none; 
    font-style: normal;
    margin: 0;
}
.ul_icon{
    display: flex;
    flex-direction: row;
    font-family: 'Roboto';
    gap:24px;
}
.svg-icon{
    fill: var(--text-color-white); /* Задаємо колір SVG іконкам */
    transition: 0.3s;
}
.svg-icon:hover{
    fill: var(--secondary-color);
}
.address_box-tex{
    flex-grow: 1; 
}
.box-tex{
    float: right;
}
.footer_address-abtn{
    color: var(--text-color-white);
    font-size: 16px;
    text-decoration: none; 
    transition: color 0.3s;
}
.footer_address-abtn:hover{
    color: var(--secondary-color);
}
.footer_address-tex1{
    color: var(--text-color-white);  
    font-size: 16px;
    text-decoration: none;
    font-style: none;
}
.footer_address-tex1:hover{
    color: var(--tex-color-2022);
}
.footer_address-tex2{
    color: var(--tex-color-2022);
    font-size: 13px;
}

/* __________________________________________-  MODAL-WINDOWS  -______________________________________________ */
.background-modal{
    position: fixed;
    display: flex;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(var(--background-modal-color), 0.4);
    z-index: 10;
}
.is_hiden{
    opacity: 0;
    visibility: hidden; /* приховує повністю вікно */
    pointer-events: none;/*не дає нічого натиснути  */
}
.modal_window {
    position: relative;
    display: flex;
    flex-direction: column;
    background-image: url(./image/modall-background.png);
    background-color: var(--primary-color);
    border-radius: 48px;
    margin: auto; 
    width: 723px;
    height: 681px;
    padding: 42px 0;
    color: var(--text-color-white);
    align-items: center;
    text-align: center;
}

.button-modal_close{
    width: 32px;
    height: 32px;
    position: absolute;
    right: 42px;
    top:42px;
    background: transparent;
}
.button-modal_close:hover{
    cursor: pointer;
}
.btn_close-modal{
    width:16px;
    height: 16px;
    fill: var(--text-color-white);
}
.modal-tex_h1{
    text-align: center;
    font-family: 'Play';
    font-size: 64px;
    font-weight: 700;
    margin: 0;
    margin-bottom: 40px;
    padding: 0;
}